DEVICE={{ neutron_ext_bridge }}
DEVICETYPE=ovs
TYPE=OVSBridge
ONBOOT=yes
MACADDR={{ hostvars[inventory_hostname].ansible_default_ipv4.macaddress }}
OVSEXTRA="set bridge $DEVICE other-config:hwaddr=$MACADDR"

# allow the external bridge to work with DHCP
OVSBOOTPROTO=dhcp
OVSDHCPINTERFACES={{ hostvars[inventory_hostname].ansible_default_ipv4.alias }}
